.addButton{
    font-size: 1.3rem;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    border: none;
    font-weight: bold;
    background-color: #1d3354;
    cursor: pointer;
    color: white;
    padding: 1.2rem 4rem;
    margin: 2.5rem 0.8rem;
}

.addButton:hover {
    width: fit-content;
    height: fit-content;
    border: none;
    font-weight: bold;
    background-color: #4e8deb;
    cursor: pointer;
}