.button {
  margin-bottom: 15px;
  width: 40%;
  height: 30px;
  background-color: #fdc800;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 1rem;
}

.button:disabled{
  background: #555;
  cursor: not-allowed;
}