.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tbody {
  text-align: center;
}

.clientLink {
  font-weight: bold;
  text-decoration: inherit;
  color: black;
  margin: 40px;
}

.tr-table {
  border: 2px solid black;
}