.inputSearch {
  display: flex;
  justify-content: end;
  width: 100%;
}

.button {
  position:absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  color: #FFF;
  background: #9ed8d8;
}