.container {
  /* display: flex; */
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* overflow-y: scroll; */
}

.sendFormButton {
  width: 100px;
  height: 50px;
  padding: 5px 15px;
  margin: 20px 0px;
  border: none;
  border-radius: 7px;
  background-color: #002147;
  color: white;
  font-weight: bold;
}