.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 0 1rem 0;
}

.container label {
  margin-bottom: 5px;
  width: 100%;
  font-weight: bold;
  color:black;
}

.container option {
  color: black;
}
.select {
  padding: 0.5rem;
  width:150px;
  border-radius: 5px;
  border: 2px solid #0000001F;
  font-size: 0.8rem;
}

.selectError {
  border: 2px solid red;
}

.errorMessage {
  display: flex;
  align-items: center;
  height: 21px;
  width: 12rem;
  font-size: 0.7rem;
  color: #f00;
}
