.positionMainContainer {
  margin-left: -250px;
  width: 85%;
}
.positionList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-bottom: 30px;
  max-height: 180px;
  width: 85%;
  border-top: solid 0.1rem #00000024;
  overflow-y: scroll;
}

h3 {
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #325477;
}

.buttonAdd{
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  color: #FFF;
  background: #9ed8d8;
}

.buttonAdd:hover {
  cursor: pointer;
}

.headerPosition {
  display: flex;
}

.headerPosition > button {
  margin-left: 10px
}

.headerPosition > button:hover {
  cursor: pointer;
}

.positionDescription {
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  color: #707070;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
