.button {
  width: 200px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 40%;
  border: none;
  border-radius: 2px;
  background-color: #9ED8D8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled{
  background: #555;
  cursor: not-allowed;
}