.backModal{
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.8);
}
.Modal{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  top:10vh;
  left:15vw;
  right:15vw;
  width: 70vw;
  border: solid 1px black;
}
.header{
  background-color: #325477;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 30px;
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  margin: 0 1rem 0;
  padding: 1rem 1rem 0rem;
}

.container label {
  width: 100%;
  margin: 2px 0px 2px 0px;
  color: black;
}

.container option {
  color: black;
}
.select {
  padding: 10px;
  border-radius: 2px;
  margin: 20px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-self: end;
  align-self: flex-end;
  margin: 0px 20px 0px;
}
.buttonContainer > * {
  padding: 40px;
}