.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border:solid black 1px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  width: 20vw;
  height: 100%;
  background-color: #9ED8D8;
}
.entityname{
  color:white;
  font-size: 2rem ;
  padding-left: 2vw;
}
.mainhead{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80vw;
  background-color: #325477;
}
.Icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 13vw;
  padding-right: 2vw;
}

