.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}

.form > * input,
.form > * label {
  margin-top: 7px;
}

.studies > div {
  display: flex;
  flex-direction: column;
}

.formButton {
  margin-top: 50px;
  position: relative;
  align-self: center;
}