.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
  width: 95%;
  box-shadow: 2px 3px 10px 6px rgba(0,0,0,0.26);
}

.imagePostulant {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 5px solid #467599;
  background-color: #e6e6e6;
  border-radius: 100%;
}

.logoPostulant{
  width: 100%;
}

.postulantName {
  font-weight: bold;
  color: #467599;
  margin-top: 7px;
}

.form h1{
  padding: 10px 10px 10px 15px;
  height: 20px;
  background-color: #325477;
  font-size: 20px ;
  color:#ffffff;
}

.form p{
  padding: 5px 5px 5px 15px;
  width: 100%;
  height: 20px;
  color:#ffffff;
  background-color: #325477;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}

.sendFormButton {
  width: 100px;
  height: 50px;
  padding: 5px 15px;
  margin: 20px 0px;
  border: none;
  border-radius: 7px;
  background-color: #002147;
  color: white;
  font-weight: bold;
  cursor: pointer;
}