.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  min-height: 200px;
  background-color: lightgray;
}


.modal h3, p {
  align-self: center;
}

.modal button {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}